
.prod-summary {
    display: flex;
    width: 300px;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}

.prod-price{
    margin-left: 20px;
}

#total-num{
    font-size: 18px;
}

#total-price{
    font-size: 20px;
    font-weight: 700;
}

#place-order {
    font-size: 25px;
    border-radius: 20% / 5%;
    background-color: whitesmoke;
    margin: 10px;
}

#bottom-wrap {
    margin-top: 10px;
}